//
//general.scss
//

/*****************dark-mode******************/

body[data-bs-theme='dark'] {

    .bg-light {
        background-color: var(--#{$prefix}bg-light) !important;
    }

}

.carousel{
    height: 300px;
    overflow: hidden;
    img{
        width: 100%;
        height: 300px;
        object-fit: cover;
    }
}
@media (min-width: 1200px) {
    .carousel{
        height: 700px;
        img{
            width: 100%;
            height: 700px;
            object-fit: cover;
        }
    }
  
  
}